<template id="ard-nav">
    <div id="ard-nav-container">
        <div id="nav-title">
            <span>ArdFudge</span>
        </div>
        <div id="nav-menu">
            <button id="ardfudge-icon-container" type="button">
                <span id="ardfudge-icon"></span>
            </button>
            <span id="ardfudge-icon-label">Menu</span>
            <nav id="sliding-nav">
                <ul>
                    <li>
                        <button id="sign-out">
                            <span id="sign-out-icon"></span>Sign Out
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>