<template id="login-page">
    <div id="login-container">
        <div id="ardfudge-icon-container">
            <span id="ardfudge-icon"></span>
        </div>
        <div id="login-tabs">
            <div id="tab-container">
                <button id="sign-in-tab" class="tab tab__sign-in" type="button" disabled>Sign In</button>
                <button id="create-tab" class="tab tab__create-user" type="button">Create User</button>
            </div>
            <div id="login-tab-content">
                <div id="login-icon"></div>
                <label id="username-label" class="login-label">
                    Username
                    <input id="username" class="login-input" type="text" placeholder="SEGreens" required />
                </label>
                <label id="password-label" class="login-label">
                    Password
                    <input id="password" class="login-input" type="password" placeholder="N0t@$cam!" required />
                </label>
                <button id="login-button" type="button">Sign In</button>
                <p id="ardfudge-text">ArdFudge</p>
            </div>
        </div>
    </div>
</template>
