<template id="login-page">
    <h2>ArdFudge</h2>
    <div id="login-container">
        <div id="tab-container">
            <button id="sign-in-tab" class="tab" type="button" disabled>Sign In</button>
            <button id="create-tab" class="tab" type="button">Create User</button>
        </div>
        <div id="login-tab-content">
            <label id="username-label">
                Username
                <input id="username" type="text" />
            </label>
            <button id="login-button" type="button">Sign In</button>
        </div>
    </div>
</template>
