@import "mixins.css";

#ardfudge-icon {
    @mixin ardfudge-icon;
}

#ardfudge-icon-container {
    @mixin ardfudge-icon-container;
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 35px;
    padding-left: 5px;
    margin-left: -5px;
}

#ard-nav-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: calc(100% - 10px);
    padding: 0 5px;
    background-color: var(--dark-wheat);
    border-bottom: 2px solid var(--wheat);

    @mixin width--tiny {
        height: 40px;
    }
}

#sign-out {
    @mixin button-primary;
}
