@import "mixins.css";

#ardfudge-icon {
    @mixin ardfudge-icon;
}

#ardfudge-icon-container {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

#nav-menu {
    background-color: var(--dark-wisteria);
    font-style: italic;
    border-left: 2px solid var(--fudge);
    border-bottom: 2px solid var(--fudge);
    height: 100%;
    width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.25s ease;
    position: absolute;
    right: -85px;
    padding: 0 0 0 5px;
    border-radius: 0 0 0 10px;
    font-family: Birthstone, serif;

    &:hover {
        right: 0;

        #sliding-nav {
            right: 0;
        }
    }
}

#ardfudge-icon-label {
    cursor: default;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
}

#ard-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background: var(--dark-wheat);
}

#nav-title {
    @mixin text-fancy;

    font-size: 2.25rem;
    margin: 0 0 0 10%;
}

#sliding-nav {
    position: fixed;
    top: 50px;
    right: -121px;
    width: 120px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid var(--fudge);
    border-bottom: 1px solid var(--fudge);
    transition: 0.25s ease;
    background-color: var(--wheat);
    z-index: -10;

    a, button {
        background-color: inherit;
        display: flex;
        align-items: center;
        outline: none;
        width: 100%;
        height: 30px;
        border: none;
        color: var(--fudge);
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.25s ease;
        padding: 0;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-top: 2px;

        &:first-child {
            margin-top: 10px;
        }

        &:last-child {
            margin-bottom: 10px;
        }
    }
}

#sign-out-icon {
    @mixin icon;

    background-image: url('/icons/sign-out.svg');
    margin-right: 5px;
}
