@import "mixins.css";

#ardfudge-icon {
    @mixin ardfudge-icon;
}

#ardfudge-icon-container {
    @mixin ardfudge-icon-container;

    background-color: unset;
    font-style: italic;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 50px;

    &:hover {
        filter: brightness(2);

        &:active {
            filter: brightness(1);
        }
    }

    &.open {
        cursor: default;
        text-decoration: none;
    }
}

#ard-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background: var(--dark-wheat);
}

#nav-title {
    @mixin text-fancy;

    margin: 0 0 0 10%;
}

#sliding-nav {
    position: fixed;
    top: -80px;
    right: 0;
    width: 120px;
    border-bottom-left-radius: 10px;
    transition: 0.25s ease;
    background-color: var(--wheat);

    &.open {
        top: 50px;
    }

    a, button {
        background-color: inherit;
        display: flex;
        align-items: center;
        outline: none;
        width: 100%;
        height: 30px;
        border: none;
        color: var(--fudge);
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
            text-decoration: underline;
        }
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-top: 2px;

        &:first-child {
            margin-top: 10px;
        }

        &:last-child {
            margin-bottom: 10px;
        }
    }
}

#sign-out-icon {
    @mixin icon;

    background-image: url('/icons/sign-out.svg');
    margin-right: 5px;
}
