@import "mixins.css";

#budget-start {
    cursor: pointer;
    height: 24px;
}

select {
    @mixin select-secondary;
}

#period-reverse-checkbox {
    @mixin checkbox-style;
}

#period-reverse-question {
    display: inline-block;
    font-size: 0.8rem;
    margin: 5px 0;
    width: calc(100% - 40px);
}

.period-tooltip {
    @mixin tooltip;

    @mixin hover-focus {
        .period-tooltip-text {
            display: block;
        }
    }
}

.period-tooltip-text {
    @mixin tooltip-content;
}
