@import "./mixins.css";

#modal-container {
    @mixin size--full;

    color: var(--light-fudge);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    overflow-x: visible;
    overflow-y: scroll;
    background-color: rgb(0, 0, 0, 0.5);
}

#modal-content {
    background-color: var(--dark-wisteria);
    border-radius: 5px;
    margin: 20px auto;
    top: -10px;
    width: min(90%, 320px);
    font-weight: bold;
}

input {
    @mixin input-secondary;
}

input, select {
    margin: 2px;
}

fieldset {
    border: 1px solid var(--dark-sage-green);
    display: flex;
    flex-direction: column;
}

form {
    padding: 10px 25px;
}

legend {
    font-family: Birthstone, serif;
    font-size: 1.75rem;
    font-style: italic;
}

#action-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

#button__submit {
    @mixin button-secondary;
}

#button__cancel {
    @mixin button-secondary__alt;
}
