@import "./mixins.css";

loading-widget {
    position: absolute;
    top: 0;
}

#app-container {
    @mixin flex-center;
    margin: 40px auto 0;
    width: min(80%, 1000px);
}

#ardfudge-logo {
    @mixin ardfudge-icon;
}

#ardfudge-logo-container {
    @mixin ardfudge-icon-container;
}
