@import "mixins.css";

h2 {
    @mixin text-fancy;

    font-size: 2rem;
    margin: 0 0 20px;
}

#budget-list {
    margin: 0;
}

#create-budget {
    @mixin prominent-create;
}

#landing-container {
    @mixin flex-center;
}
