@import "mixins.css";

#ardfudge-icon {
    @mixin ardfudge-icon;
    @mixin size--lg;
}

#ardfudge-icon-container {
    @mixin ardfudge-icon-container;

    margin: 0 auto 20px;
    @mixin size--lg;
}

#ardfudge-text {
    @mixin text-fancy;
}

#login-button {
    @mixin button-primary;

    margin-top: 20px;

    @mixin width--tiny {
        margin-top: 10px;
    }
}

#login-container {
    margin-top: -40px;

    &.create-user {
        color: var(--light-fudge);

        #ardfudge-text {
            color: var(--light-fudge);
        }

        #login-icon {
            background-image: url('/icons/create-user.svg');
        }

        #login-tab-content {
            background-color: var(--dark-wisteria);
            color: var(--light-fudge);

            #login-button {
                @mixin button-secondary;
            }

            #username {
                @mixin input-secondary;
            }
        }
    }
}

#login-tabs {
    @mixin flex-center;
}

#login-icon {
    @mixin icon;
    @mixin size--md;
    background-image: url('/icons/sign-in.svg');
    border-radius: 10px;
}

#tab-container {
    display: flex;
    align-items: end;
    width: 100%;
}

.tab {
    outline: none;
    border: none;
    border-top: 3px solid var(--wheat);
    border-radius: 5px 5px 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.25rem;
    font-style: italic;
    height: 50px;
    width: 50%;

    &:disabled {
        color: var(--fudge);
        z-index: 2;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &.tab__sign-in {
        background-color: var(--sage-green);
        border-right: 1px solid var(--wheat);
    }

    &.tab__create-user {
        color: var(--light-fudge);
        background-color: var(--dark-wisteria);
        border-left: 1px solid var(--wheat);
    }
}

#login-tab-content {
    margin-top: -3px;
    background-color: var(--sage-green);
    border-radius: 0 0 5px 5px;
    border: 3px solid wheat;
    border-left: none;
    border-right: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: 0.25s;
}

#username {
    @mixin input-primary;
}

#username-label {
    @mixin label-style;
}
