@define-mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@define-mixin button-style {
    min-height: 40px;
    min-width: 100px;
    max-width: 80%;
    box-shadow: 0 2px white;
    font-size: 1.25rem;
    border: 3px solid white;
    border-radius: 5px;
    margin-bottom: 2px;

    &:focus{
        margin-top: 2px;
        margin-bottom: 0;
        box-shadow: none;
    }

    &:disabled {
        background-color: lightgray;
    }
}

@define-mixin button-primary {
    @mixin button-style;
    background-color: wheat;
}

@define-mixin button-secondary {
    @mixin button-style;
    background-color: thistle;
}
