@define-mixin ardfudge-icon {
    @mixin icon;

    background-image: url('/icons/fudge.svg');
    transform: rotate(45deg);
}

@define-mixin ardfudge-icon-container {
    @mixin flex-center;
    @mixin size--sm;

    background-color: var(--wheat);
    border-radius: 50%;
}

@define-mixin button-primary {
    @mixin style-primary;

    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    min-height: 40px;
    min-width: 120px;
    padding: 0 10px;
    transition: 0.25s;

    @mixin width--tiny {
        min-height: 30px;
        min-width: 80px;
    }
}

@define-mixin button-secondary {
    @mixin button-primary;
    @mixin style-secondary;

    border-radius: 20px;
}

@define-mixin button-secondary__alt {
    @mixin button-secondary;

    background-color: unset;
    border-color: var(--light-fudge);
    color: var(--light-fudge);

    &:active {
        background-color: unset;
    }

    @mixin hover-focus {
        background-color: var(--wisteria);
        border: 2px solid var(--light-fudge);
        color: var(--light-fudge);
    }
}

@define-mixin checkbox-style {
    appearance: none;
    background-color: var(--dark-sage-green);
    cursor: pointer;
    height: 25px;
    position: relative;
    transition: background-image 0.25s;
    width: 25px;

    &::before {
        @mixin icon;
        @mixin size--full;

        background-image: url('/icons/checked.svg');
        content: '';
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition: opacity 0.25s;
    }

    &:checked::before {
        opacity: 1;
    }
}

@define-mixin flex-center {
    align-items: center;
    color: var(--fudge);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@define-mixin hover-focus {
    &:hover,
    &:focus {
        @mixin-content;
    }
}

@define-mixin icon {
    @mixin size--sm;

    background: no-repeat center center;
    background-size: contain;
    border: none;
    display: inline-block;
    outline: none;
}

@define-mixin icon-action {
    @mixin icon;

    cursor: pointer;
    height: 20px;
    width: 20px;

    @mixin hover-focus {
        filter: brightness(1.25);
    }
}

@define-mixin input-primary {
    @mixin style-primary;

    cursor: text;
    height: 16px;
    padding: 5px;
    transition: 0.25s;
    width: calc(100% - 14px);

    @mixin width--tiny {
        height: 12px;
    }
}

@define-mixin input-secondary {
    @mixin input-primary;
    @mixin style-secondary;

    cursor: text;
}

@define-mixin label-style {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5px;

    @mixin width--tiny {
        font-size: 1rem;
    }
}

@define-mixin list-primary {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a, a:visited {
        @mixin button-primary;

        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
    }

    li {
        border-radius: 20px;
        display: flex;
        margin: 5px 5px;

        &:last-child {
            margin-bottom: 5px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

@define-mixin prominent-create {
    @mixin size--xl;

    background-color: unset;
    background-image: url('/icons/prominent-create.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 20px;
    border: none;
    cursor: pointer;
    padding: 0;
    position: fixed;
    right: 20px;

    @mixin hover-focus {
        border: none;
        filter: brightness(1.25);
        outline: none;
    }
}

@define-mixin select-primary {
    @mixin style-primary;

    height: 28px;
    transition: 0.25s;
    width: 100%;
}

@define-mixin select-secondary {
    @mixin select-primary;
    @mixin style-secondary;
}

@define-mixin size--full {
    height: 100%;
    width: 100%;
}

@define-mixin size--lg {
    height: 80px;
    width: 80px;

    @mixin width--tiny {
        height: 60px;
        width: 60px;
    }
}

@define-mixin size--md {
    height: 60px;
    width: 60px;

    @mixin width--tiny {
        height: 45px;
        width: 45px;
    }
}

@define-mixin size--sm {
    height: 40px;
    width: 40px;

    @mixin width--tiny {
        height: 30px;
        width: 30px;
    }
}

@define-mixin size--xl {
    height: 100px;
    width: 100px;

    @mixin width--tiny {
        height: 75px;
        width: 75px;
    }
}

@define-mixin size--xs {
    height: 30px;
    width: 30px;

    @mixin width--tiny {
        height: 20px;
        width: 20px;
    }
}

@define-mixin style-primary {
    background-color: var(--wheat);
    border: none;
    border-radius: 10px;
    color: var(--fudge);
    cursor: pointer;
    font-size: 1rem;
    outline: none;

    &:disabled {
        background-color: lightgrey;
    }

    @mixin hover-focus {
        background-color: var(--light-fudge);
        border-color: var(--fudge);
        outline: none;

        &:disabled {
            background-color: lightgrey;
            border-color: transparent;
            color: unset;
            cursor: not-allowed;
        }
    }
}

@define-mixin style-secondary {
    @mixin style-primary;

    background-color: var(--dark-sage-green);
    color: var(--light-fudge);

    @mixin hover-focus {
        background-color: var(--sage-green);
        border-color: transparent;
        color: var(--fudge);
    }
}

@define-mixin text-fancy {
    color: var(--fudge);
    font-family: Birthstone, serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 20px;
    text-align: center;

    @mixin width--tiny {
        font-size: 2rem;
    }
}

@define-mixin tooltip {
    @mixin icon;

    background-image: url('/icons/tooltip.svg');
    cursor: help;
    height: 16px;
    position: relative;
    width: 16px;

    @mixin hover-focus {
        border: none;
        outline: none;
    }
}

@define-mixin tooltip-content {
    background-color: var(--light-fudge);
    border-radius: 10px;
    bottom: 28px;
    color: var(--dark-wisteria);
    display: none;
    font-size: 0.75rem;
    padding: 10px;
    position: absolute;
    right: -80px;
    width: 200px;
    z-index: 10;

    &::after {
        border-color: var(--light-fudge) transparent transparent transparent;
        border-style: solid;
        border-width: 10px;
        content: '';
        position: absolute;
        right: 78px;
        top: 100%;
    }
}

@define-mixin width--tiny {
    @media (max-width: 400px) {
        @mixin-content;
    }
}
