@define-mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@define-mixin button-style {
    min-height: 40px;
    min-width: 120px;
    max-width: 80%;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.25s;
    cursor: pointer;

    &:disabled {
        background-color: lightgray;
    }
}

@define-mixin button-primary {
    @mixin button-style;
    background-color: var(--wheat);

    &:active {
        background-color: var(--wheat);
    }

    &:hover {
        background-color: var(--light-wheat);
    }
}

@define-mixin button-secondary {
    @mixin button-style;
    background-color: var(--wisteria);

    &:active {
        background-color: var(--wisteria);
    }

    &:hover {
        background-color: var(--dark-wisteria);
    }
}

@define-mixin label-style {
    font-weight: bold;
    margin-bottom: 5px;
}

@define-mixin input-style {
    width: calc(100% - 14px);
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    transition: 0.25s;
    outline: none;
}

@define-mixin input-primary {
    @mixin input-style;

    background-color: var(--wheat);
    border-color: var(--wheat);

    &:focus {
        background-color: var(--light-wheat);
    }
}

@define-mixin input-secondary {
    @mixin input-style;
}
